/* src/styles/App.css */

/* Estilos personalizados para la página de catálogo */
.card {
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-title {
    font-size: 1.25rem;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .btn-primary {
    background-color: #007BFF;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  /* Estilos personalizados para la página de detalles de productos */
  .img-fluid {
    max-width: 100%;
  }
  
  /* Otros estilos personalizados según tus necesidades */
  